*{font-family: Rubik; font-style: normal;}



.header{
    margin-left:211px;    
    display:flex;
    justify-content: space-between;
    align-items:center;
}
.header-left{
    top:40px; 
    padding-top: 40px;
    align-items: center;
}
.header-left > h1 {  
    font-weight: 500;
    font-size: 24px;
    color: #7562E0;
    width: 63px;
    height: 28px;
    
}

.header-right{
    margin-right:211px;
    top:49px;  
    padding-top:49px;  
}
  
.header-right > a {
    
    text-decoration: none;
    color: black;
    margin-left: 44px;
    
}


.header2{
    display:flex;
    justify-content: space-between;
}

.content-left{
    position: absolute;
    margin-left: 211px;
    margin-top: 243px;
}

.header2>.content-left >.h1{
    margin-top: 2px;
    margin-bottom: 4px;
    width: 213px;
    height: 139px;
    font-weight: 500;
    font-size: 60px;
    color: #120644;
}

.header2>.content-left >h5{
    margin-top: 5px;
    width: 237px;
    height: 38px;
    font-weight: 350;
    font-size: 17px;
    display: block;
    color: #000000;
}

.btn {
    width: 188px;
    height: 51px;
    color:#ffff;
    background: #7562E0;
}

.header2>.content-left> .btn > a{
    color:#ffff;
    text-decoration: none;
}

.content-right{
    position: absolute;
    width: 1020px;
    height: 1020px;
    left: 789px;
    top: 242px;
    background: #A696FF;
    border-radius: 50%;
   
}

.content-right > .image1{
    position: absolute;
    width: 625px;
    height: 784px;
    left: -239px;
    top: -144px;
}
.header2 > .content-right>.icon{
    display: flex;
    flex-direction:column;
    width:40px;
    height:90px;
    
}

.header2 > .content-right>.icon >.ri-facebook-fill{
    font-size: x-large;
    margin-top: 350px;
    margin-left: 380px;
    color: #FFFFFF;
   
    
} 


.header2 > .content-right>.icon >.ri-twitter-fill{
    font-size: x-large;
    margin-top: 0px;
    margin-left: 380px;
    color: #FFFFFF;

}

.header2 > .content-right>.icon >.ri-linkedin-fill{
    
    float:left;
    font-size: x-large;
    margin-top: 20px;
    margin-left: 380px;
    color: #FFFFFF;

}

.header2 > .content-right>.icon >.ri-github-fill{
    
    float:left;
    font-size: x-large;
    margin-top: 20px;
    margin-left: 380px;
    color: #FFFFFF;

}
