*{margin: 0px;}

:root{
  --colr-purpledark: #7562E0;
  --colr-purplelight:#A696FF;
  --colr-bluedark-main-text:#120644;
  --colr-purpleultradark:#4B4567;
  --colr-element-box-light:#F5F5F7;
  --colr-element-box-lighter:#F5F5F6;
  --colr-box-background:#FAFBFD;
  --colr-black-sub-text:#000000;
  --colr-white:#ffff;
  --font-rubik:Rubik;
  --desktop:1280px;
  --laptop:1024px;
  --tablet:768px;
  --phone:480; 
}

/******************* PARENT GRID ******************/
.main-container{ 
   display: grid;
   grid-template-columns: 1fr ;
   grid-template-rows: auto;
   grid-template-areas:"nav-bar" 
    "profile"  
    "short-exp"  
    "Exp"  
    "Edu"   
    "footer" ;   
}

/******************* NAV-BAR-SECTION ******************/
.nav-bar{
  margin-left: 211px;
  margin-right: 211px;
  grid-area: nav-bar;
  display: grid;
  grid-template-columns: 8fr 1fr 1.5fr 1.3fr;
}

.nav-bar > h5{
  margin-top: 40px;
  margin-bottom: 23px;
  font-family: var(--font-rubik);
  color: var(--colr-purpledark);
  font-size: 24px;
  font-weight: 500px;
}

.nav-bar > a{
  padding-top: 30px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  text-decoration: none;
  color: var(--colr-black-sub-text);
  font-size: 16px;
  font-family: var(--font-rubik);
}

/******************* PROFILE-SECTION ******************/
.profile{
  grid-area: profile;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "content-left content-right";
}

.content-left{
  grid-area: content-left;
  margin-left: 211px;
  margin-top: 243px; 
}

.profile > .content-left > .h1{
  margin-top: 2px;
  margin-bottom: 4px;
  width: 213px;
  height: 139px;
  font-weight: 500;
  font-size: 60px;
  color: var(--colr-bluedark-main-text);
  font-family: var(--font-rubik);
}

.profile > .content-left > h5{
  margin-top: 5px;
  width: 237px;
  height: 38px;
  font-weight: 350;
  font-size: 17px;
  display: block;
  color: var(--colr-black-sub-text);
  font-family: var(--font-rubik);
}

.btn{
  width: 188px;
  height: 51px;
  color: var(--colr-white);
  background-color: var(--colr-purpledark);
  border: none;
}

.profile >.content-left > .btn > a{
  color: var(--colr-white);
  text-decoration: none;
  font-family: var(--font-rubik);
} 

.content-right{
  grid-area: content-right;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  position: relative;
}

.content-right > .image-bigcircle{
  width: 800px;
  right: 0px;
  bottom: 0px;
}

.content-right > .profile-pic{
  position: absolute;
  width: 650px;
  height: 800px;
  right: 290px;
  bottom: 0px;
} 

.content-right > .socialMedia-icons{
  position: absolute;
  width: 14px;
  font-size: xx-large;
  align-items: flex-start;    
  bottom: 150px;
  right: 235px;
  color: var(--colr-white);
} 

/* ****************** SHORT EXP-SECTION ***************** */
.ExperienceShort{
  grid-area: short-exp;
  grid-template-rows: auto;
  grid-template-areas: "head" "content";
  background-image: url("images/experience.png");
  background-size: 100% 100%;
  background-repeat: no-repeat; 
}

.heading-oneYearWorking{
  padding-left: 211px;
  grid-area: head;
}

.one{
  font-size: 120px;
  height: 142px;
  margin-top: 69px;
  color: var(--colr-purpledark);
  font-family: var(--font-rubik);
}

.heading-oneYearWorking > h4{
  font-size: x-large;
  font-weight: normal;
  margin-top: 0px;
  color: var(--colr-purpleultradark);
  font-family: var(--font-rubik);
}

.ExperienceShort-icon{
  grid-area: content;
  margin-left: 355px;
  height: 310px;
  width: 880px;
  margin-top: -15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 310px;
}

.ExperienceShort-icon-elements{
  color: var(--colr-purpleultradark);
  font-family: var(--font-rubik);
  background-color: var(--colr-element-box-light);
  width: 270px;
  height: 310px;
  margin-left: 32px;
  font-size: x-large;
  padding-left: 35px;
  display: block;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.ExperienceShort-icon-elements > i{
  height: 40px;
  width: 40px;
  font-size: xx-large;
}

.ExperienceShort-icon > .ExperienceShort-icon-elements > .font-h4{
  color: var(--colr-black-sub-text);
  font-family: var(--font-rubik);
  font-weight: normal; 
  margin-bottom: 30px;
} 

/******************* EXPERIENCE-SECTION ******************/
.Exp{
  grid-area: Exp;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas: "head" "container-exp";  
}

.head{
  display: grid;
  grid-area: head;
  grid-column: 1/3;
  grid-row: 1/2;
  width: 100%;
  background-color: var(--colr-box-background);
}

.head > h2{
  margin-left: 211px;
  margin-top: 81px;
  margin-bottom: 162px;
  width: 260px;
  height: 57px;
  color: var(--colr-purpleultradark);
  font-family: var(--font-rubik);
  font-weight: normal;
  font-size: xxx-large;
}
 
.conatiner-Exp-Edu{
  grid-area:conatiner-exp;
  grid-column: 1/2;
  grid-row: 2/3;
  margin-top: -99px ;
  margin-left: 211px;
  z-index: 1;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;   
}

.Details-container{
  background-color: var(--colr-element-box-lighter);
  font-family: var(--font-rubik);
  width: 543px;
  height: 117px;
  display: flex;
  align-items: center;
  padding-left: 20px;   
}

.Details-container >h4{
  font-weight: 400px;
  font-size: large;
}

.Details-container >h4 > .h4{
  font-weight: normal;
}

.Experience-img{
  width: 95%;
  margin-top: -77px;
  padding-bottom: 246.19px;
  z-index: 1;
} 

/******************* EDUCTAION-SECTION ******************/
.Edu{
  grid-area: Edu;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas: "head" "container-exp ";
}

.Education-img{
  width: 100%;
  margin-top: -77px;
  bottom: 0px;
  z-index: 1; 
}

/* ****************** FOOTER-SECTION ***************** */
.footer{
  grid-area: footer;
  background-color: var(--colr-purplelight);
  width: 100%;
  padding-bottom: 270px;
}

.footer-btn{
  margin-top: 119px;
  margin-left: 211px;
  width: 281px;
  height: 60px;
  border: var( --colr-white) solid; 
  background-color: var(--colr-purplelight);
}

.footer-btn >a{
  text-decoration: none;
  color: var( --colr-white);
}